<%= partial "partials/second-nav" %>

<div class="container mt mb+">
    <div class="row">
      <div class="col-sm-9">
        <ul class="breadcrumbs">
          <li>Sélection</li>
          <li class="active">Categorizarion</li>
          <li>Extraction</li>
          <li>Contradictions</li>
          <li>Business Drivers</li>
          <li class="next">Evaluation criteria</li>
          <li class="next">Evaluation</li>
        </ul>
        <p class="text-left text-italic color-grey text-light mt-">Select a variety of relevant patents for the project</p>
      </div>
      <div class="col-sm-3">
          <%= partial "partials/progress", :locals => { :percentage => "30", :step_name => "Patent analysis" } %>
      </div>
  </div>
</div>

<div class="container mb+ pb+">
  <div class="row df">
    <div class="col-sm-8 pr0">
      <div class="card p card--separator">
        <h1 class="mt">24 Selected patents</h1>
      </div>
      <% for i in 0..4 do %>
        <div class="df card card--separator p">
          <div class="card__file" style="background-image: url(images/plan.png);">
            <span></span>
            <i class="fa fa-file-text-o color-grey fa-2"></i>
          </div>
          <div class="pl pr">
            
            <h3 class="text-bold h4 mb color-blue-dark">Positive retraction latch locking dog for a rotating control …</h3>

            <div class="drop-area p clearfix" id="drop-area-<%= i%>">
              <% for i in 0..2 do %>
                <span class="label label-default pull-left mr- mb- df at-c">
                  <i class="ionicons ion-pricetag color-grey-light mr- font-14 pull-left"></i>
                  <span class="label__text">LER Pawl on excentric + 2nd pawl</span>
                  <i class="label__close ionicons ion-android-close js-remove-label"></i>
                </span>
              <% end %>
            </div>
            
            
          </div>
        </div>
      <% end %>

    </div>

    <div class="col-sm-4 df pl0">
      <div class="bg-dark-blue-2 p">
        <div class="clearfix mb">
          <p class="h1 color-white mb+">Suggested categories</p>
          <a href="#" class="btn btn-outline color-white">Edit</a>
        </div>

          <div id="suggested-categories">
          <% for i in 0..6 do %>
              
                <span class="label label-default">
                  <i class="ionicons ion-pricetag color-blue-3 mr- font-14 pull-left"></i>
                  <span class="label__text">LER Pawl on excentric + 2nd pawl</span>
                  <i class="label__close ionicons ion-android-close hidden js-remove-label"></i>
                  <div class="label__number"><%= Random.rand(30) %></div>
                </span>

                <span class="label label-default">
                  <i class="ionicons ion-pricetag color-blue-3 mr- font-14 pull-left"></i>
                  <span class="label__text">Store enery in spring</span>
                  <i class="label__close ionicons ion-android-close hidden js-remove-label"></i>
                  <div class="label__number"><%= Random.rand(30) %></div>
                </span>

                <span class="label label-default">
                  <i class="ionicons ion-pricetag color-blue-3 mr- font-14 pull-left"></i>
                  <span class="label__text">2nd pawl</span>
                  <i class="label__close ionicons ion-android-close hidden js-remove-label"></i>
                  <div class="label__number "><%= Random.rand(30) %></div>
                </span>

          <% end %>
          </div>
      </div>
    </div>
  </div>
</div>



<%= partial "partials/action-bar", :locals => { :text => "Last modified on 03/12/2017 à 12:17,",:text2 => "Par Denis C. - INSA", :link => "transition-3.html", :link_back => "analysis.html" } %>

<%= partial "partials/javascripts" %>

<script>
  var sortable = $('sortable');


  dragula([$('drop-area-0'), $('drop-area-1'), $('drop-area-2'), $('drop-area-3'), $('drop-area-4'), $('drop-area-4'), $('suggested-categories')], {
    copy: function (el, source) {
        return source === $('suggested-categories')
      },
      accepts: function (el, target) {
        return target !== $('suggested-categories')
      }
  }).on('drag', function (el) {
    el.className = el.className.replace('ex-moved', '');
  }).on('drop', function (el) {
    el.className += ' ex-moved';
  }).on('over', function (el, container) {
    container.className += ' drop-area--droping';
  }).on('out', function (el, container) {
    container.className = container.className.replace('drop-area--droping', '');
  });



  function clickHandler (e) {
    var target = e.target;
    if (target === sortable) {
      return;
    }
    target.innerHTML += ' [click!]';

    setTimeout(function () {
      target.innerHTML = target.innerHTML.replace(/ \[click!\]/g, '');
    }, 500);
  }

  function $ (id) {
    return document.getElementById(id);
  }

  $(".js-remove-label").click(function(){
          $(this).parent().hide();
  });
</script>