<%= partial "partials/second-nav" %>

<div class="container mt mb+">
    <div class="row no-gutter">
      <div class="col-sm-9">
        <ul class="breadcrumbs">
          <li><%= link_to("Sélection", "analysis.html" , class:"color-grey") %></li>
          <li><%= link_to("Categorizarion", "analysis-2.html" , class:"color-grey") %></li>
          <li><%= link_to("Connection PBSOL", "analysis-3.html" , class:"color-grey") %></li>
          <li><%= link_to("Contradictions", "analysis-4.html" , class:"color-grey") %></li>
          <li><%= link_to("Business Drivers", "analysis-5.html" , class:"color-grey") %></li>
          <li><%= link_to("Evaluation criteria", "analysis-6.html" , class:"color-grey") %></li>
          <li class="active">Evaluation</li>
        </ul>
        <p class="text-left text-italic color-grey text-light mt-">Adjust and evaluate the importance of your business drivers</p>
      </div>
      <div class="col-sm-3">
          <%= partial "partials/progress", :locals => { :percentage => "80", :step_name => "Patent analysis" } %>
      </div>
  </div>
</div>


<div class="container mb+ pb+">
  <div class="row no-gutter mb">
    <div class="col-sm-8">

      <div class="card card--separator p pt+">
          <h1 class="text-bold">
            12 contradictions
          </h1>
      </div>

      <div class="card card--separator p">
        <a href="#" class="btn btn--plus">Add a business driver</a>
      </div>


      <div class="card card--separator p">

          <div class="clearfix">
            <div class="pull-left">Ease of closing</div>

            <div class="pull-right">
              <input class="slider" data-slider-id='slider-green' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="14"/>
            </div>
          </div>

      </div>


      <div class="card card--separator p">

          <div class="clearfix">
            <div class="pull-left">Ease of door opening</div>

            <div class="pull-right">
              <input class="slider" data-slider-id='slider-orange' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="14"/>
            </div>
          </div>

      </div>

      <div class="card card--separator p">

          <div class="clearfix">
            <div class="pull-left">Ease of unlatching from full latch</div>

            <div class="pull-right">
              <input class="slider" data-slider-id='slider-purple' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="14"/>
            </div>
          </div>

      </div>

      <div class="card card--separator p">

          <div class="clearfix">
            <div class="pull-left">Ease of unlatching from secondary latch</div>

            <div class="pull-right">
              <input class="slider" data-slider-id='slider-turquoise' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="14"/>
            </div>
          </div>

      </div>

      <div class="card card--separator p pt+">

      </div>

    </div>


    <div class="col-sm-4">
      <div class="bg-dark-blue-2 p pt+">

          <canvas id="myChart" width="350" height="350"></canvas>

        <div class="color-white mt">
            <ul class="list-unstyled text-light">
              <li>
                <span class="dot mr- bg-green"></span> Operating effort : 7%
              </li>
              <li>
                <span class="dot mr- bg-pink"></span> Noise : 7%
              </li>
              <li>
                <span class="dot mr- bg-orange"></span> Product cost : 7%
              </li>
              <li>
                <span class="dot mr- bg-purple"></span> Fail Safe : 7%
              </li>
            </ul>
        </div>

      </div>
    </div>



  </div>

  <div class="row no-gutter">
    <div class="col-sm-8">
      <div class="card card--separator p pt+">
          <h1 class="text-bold">
            Noise
          </h1>
      </div>

      <div class="card card--separator p">

          <div class="clearfix">
            <div class="pull-left">Quality of closing noise</div>

            <div class="pull-right">
              <input class="slider" data-slider-id='slider-pink' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="14"/>
            </div>
          </div>

      </div>

      <div class="card card--separator p">

          <div class="clearfix">
            <div class="pull-left">Quality of unlatching and opening noise</div>

            <div class="pull-right">
              <input class="slider" data-slider-id='slider-orange' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="14"/>
            </div>
          </div>

      </div>

  </div>
  <div class="col-sm-4">
      <div class="bg-dark-blue-2 p pt+">

          <canvas id="myChart2" width="350" height="350"></canvas>

        <div class="color-white mt">
            <ul class="list-unstyled text-light">
              <li>
                <span class="dot mr- bg-green"></span> Operating effort : 7%
              </li>
              <li>
                <span class="dot mr- bg-pink"></span> Noise : 7%
              </li>
            </ul>
        </div>

      </div>
    </div>
  </div>



</div>


<%= partial "partials/action-bar", :locals => { :text => "Last modified on 03/12/2017 à 12:17,",:text2 => "Par Denis C. - INSA", :link => "transition-8.html", :link_back => "analysis-6.html" } %>


<%= partial "partials/javascripts" %>

<script>
  var ctx = document.getElementById("myChart");
  var myChart = new Chart(ctx, {
      type: 'doughnut',
      data: {
          // labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
          datasets: [{
              label: '',
              data: [12, 19, 3, 5, 2, 3],
              backgroundColor: [
                  'rgba(255, 99, 132, .5)',
                  'rgba(54, 162, 235, .5)',
                  'rgba(255, 206, 86, .5)',
                  'rgba(75, 192, 192, .5)',
                  'rgba(153, 102, 255, .5)',
                  'rgba(255, 159, 64, .5)'
              ],
              hoverBackgroundColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)'
              ],
              borderWidth: 4,
              borderColor: [
                  'rgba(255,99,132,1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)'
              ]
          }]
      },
      options: {
          tooltips: {
            enabled: false,
            backgroundColor: 'rgba(0,0,0,0)'
          },
          legend: {
              enabled: false,
          },
          scales: {
             display: false
          },
          legend: {
            display: false
          }

      }
  });


  var ctx = document.getElementById("myChart2");
  var myChart = new Chart(ctx, {
      type: 'doughnut',
      data: {
          // labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
          datasets: [{
              label: '',
              data: [12, 19],
              backgroundColor: [
                  'rgba(255, 99, 132, .5)',
                  'rgba(54, 162, 235, .5)'
              ],
              hoverBackgroundColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)'
              ],
              borderWidth: 4,
              borderColor: [
                  'rgba(255,99,132,1)',
                  'rgba(54, 162, 235, 1)'
              ]
          }]
      },
      options: {
          tooltips: {
            enabled: false,
            backgroundColor: 'rgba(0,0,0,0)'
          },
          legend: {
              enabled: false,
          },
          scales: {
             display: false
          },
          legend: {
            display: false
          }

      }
  });

  $('.slider').bootstrapSlider({
    formatter: function(value) {
      return 'Current value: ' + value;
    }
  });
</script>
