<%= partial "partials/second-nav" %>


<div class="container mt mb+">
    <div class="row">
      <div class="col-sm-9">
        <ul class="breadcrumbs">
          <li>Sélection</li>
          <li>Categorizarion</li>
          <li class="active">Connection PBSOL</li>
          <li>Contradictions</li>
          <li>Business Drivers</li>
          <li class="next">Evaluation criteria</li>
          <li class="next">Evaluation</li>
        </ul>
        <p class="text-left text-italic color-grey text-light mt-">Adjust the problems and solutions relevant to the project. Possible links : PB-PB and PB-SOL. Impossible links : SOL-SOL</p>
      </div>
      <div class="col-sm-3">
          <%= partial "partials/progress", :locals => { :percentage => "40", :step_name => "Patent analysis" } %>
      </div>
  </div>
</div>



<div class="container mb+ pb+">

  <svg height="0px">
    <defs>
        <linearGradient x1="-0.130867472%" y1="100%" x2="100%" y2="100%" id="linearGradient-1">
            <stop stop-color="#EC335E" stop-opacity="0.496659873" offset="0%"></stop>
            <stop stop-color="#00A197" offset="100%"></stop>
        </linearGradient>
    </defs>
  </svg>

  <div class="mb+ pb+ df">
    <div class="pull-left jsplumb-container  pr0 df">
      <div class="bg-white p+">
        <div class="clearfix mb mt">
          <h1 class="pull-left text-bold">81 Problems</h1>
          <div class="pull-right"><a href="#" class="btn btn-default color-blue">Edit</a></div>
        </div>
        <a href="#" class="btn btn--plus mb+">Add a problem</a>
        
        <% for i in 0..5 do %>

          <div class="mini-card mini-card--pink  at-c mb- p+ mr df" id="node<%= i %>">
      
              <div class="mini-card__content">
                <i class="fa fa-puzzle-piece fa-2 pull-left"></i>
                
                <p class="pull-left">« When seal load increases to improve sealing, release effort must remain low on either latch positions »</p>
              </div>
              
              <div class="mini-card__anchor" id="a">
                <span></span>
              </div>
          </div>
        
          <% end %>
        
      </div>

    </div>
    
    

    <div class="pull-left jsplumb-container bg-dark-blue-2 pl0">

  
      <div class=" p+">
          <div class="clearfix mb mt">
            <h1 class="text-bold pull-left color-white">81 partial solutions</h1>
            <div class="pull-right"><a href="#" class="btn btn-default bg-dark-blue-2 color-white">Edit</a></div>
          </div>

          <a href="#" class="btn btn--plus mb+">Add a problem</a>
              
              <% for i in 6..10 do %>
              <div class="mini-card mini-card--green mini-card mb- p+ df" id="node<%= i %>">

                    <div class="mini-card__content">
                      <i class="fa fa-lightbulb-o pull-left fa-2"></i>
                      
                      <p class="pull-left">« When seal load increases to improve sealing, release effort must remain low on either latch positions »</p>
                    </div>

                    <div class="mini-card__anchor">
                      <span></span>
                    </div>

              </div>
              <% end %>
              
      </div>
    </div>
  </div>
</div>



<nav class="navbar navbar-action-secondary navbar-fixed-bottom p">
  

  <div class="pull-left df at-c">
    <p class="font-16 text-uppercase mr">3 items selected</p>
    <a href="#" class="btn btn--plus">Switch arrow</a>
  </div>

  <div class="pull-right">
    <a href="#" class="btn btn-primary mr">Link</a>
    <a href="#" class="btn btn-outline-grey">Unlink</a>
  </div>

</nav>


<%= partial "partials/action-bar", :locals => { :text => "Last modified on 03/12/2017 à 12:17,",:text2 => "Par Denis C. - INSA", :link => "transition-4.html", :link_back => "analysis-2.html" } %>


<%= partial "partials/javascripts" %>

<script>
  jsPlumb.setContainer($(".jsplumb-container"));

  jsPlumb.ready(function(){
     
     var endpointsPink = {
      endpoint: ["Dot",{radius: 20}],
      isSource: true,
      isTarget: true,
      connector: ["Bezier", {curviness: 50}],
      connectorStyle: { strokeStyle:"url(#linearGradient-1)", lineWidth: 3 },
      connectorOverlays: [ [ "Arrow", { location:1 } ] ],
      maxConnections: 5
    };

    var endpointsGreen = {
      endpoint: ["Dot",{radius: 20}],
      isSource: true,
      isTarget: true,
      connector: ["Bezier", {curviness: 50}],
      connectorStyle: { strokeStyle:"url(#linearGradient-1)", lineWidth: 3 },
      connectorOverlays: [ [ "Arrow", { location:1 } ] ],
      maxConnections: 5
    };
    
    var anchorRight = [{anchor:"Right"}];
    var anchorLeft = [{anchor:"Left"}];

    jsPlumb.addEndpoints($(".mini-card--pink"), anchorRight, endpointsPink);
    jsPlumb.addEndpoints($(".mini-card--green"), anchorLeft, endpointsGreen);
  });

  jsPlumb.repaintEverything();

  $(window).resize(function(){
        jsPlumb.repaintEverything();
    });
</script>
