---
title: Welcome to Pixseb
---

<nav class="navbar navbar-default navbar-secondary bg-faded pt pb">
  <div class="container text-center ">
  	<%= link_to("New", "definition.html" , class:"btn btn--plus pull-left") %>
    <h1 class="text-bold color-grey mt--">Your SUN diagrams</h1>
  </div>
</nav>


<div class="container">
	<div class="row pt+">
		
		<div class="col-sm-4">
			<div class="card mb+">
				<div class="card__img">
					<div class="card__img__hover df jc-c at-c">

						<% link_to "definition.html" , class:"btn btn-outline btn-lg color-white" do%>Continue <i class="ionicons ion-chevron-right"></i><% end %>
					</div>
					<%= image_tag "sun-empty-small.png", width:"100%" %>
					<span class="card__img__text color-blue">
					 <i class="ionicons ion-edit  pull-right"></i>
					 </span>
				</div>
				<div class="card__footer p">
					<div class="clearfix mb-">
						<p class="pull-left color-grey text-bold font-16">Project 42</p>
						<p class="pull-right color-blue text-bold  font-14">In progress</p>
					</div>
					<div class="clearfix">
						<div class="pull-left">
							<div class="member-group">
							        <span class="member-group__avatar">
							          <%= image_tag "images/face-1.jpg", class:"", width:"25" %></span>
							        <span class="member-group__avatar"><%= image_tag "images/face-2.jpg", class:"", width:"25" %></span>
							        <span class="member-group__avatar"><%= image_tag "images/face-3.jpg", class:"", width:"25" %></span>
							        <span class="member-group__text">3 MEMBERS</span>
							      </div>
						</div>
						<div class="pull-right">
							03/12/17 at 12:17
						</div>
					</div>
				</div>
			</div>
		
		</div>




		<div class="col-sm-4">
			<div class="card mb+">
				<div class="card__img">
					<div class="card__img__hover df jc-c at-c">
							<% link_to "definition.html" , class:"btn btn-outline btn-lg color-white" do%>Continue <i class="ionicons ion-chevron-right"></i><% end %>
					</div>
					<%= image_tag "sun-empty-small.png", width:"100%" %>
					<span class="card__img__text color-blue">
					 Modifying by Denis (only)
					 <i class="ionicons ion-android-lock pull-right"></i></span>
				</div>
				<div class="card__footer p">
					<div class="clearfix mb-">
						<p class="pull-left color-grey text-bold font-16">Project 42</p>
						<p class="pull-right color-blue text-bold  font-16">In progress</p>
					</div>
					<div class="clearfix">
						<div class="pull-left">
							<div class="member-group">
							        <span class="member-group__avatar">
							          <%= image_tag "images/face-1.jpg", class:"", width:"25" %></span>
							        <span class="member-group__avatar"><%= image_tag "images/face-2.jpg", class:"", width:"25" %></span>
							        <span class="member-group__avatar"><%= image_tag "images/face-3.jpg", class:"", width:"25" %></span>
							        <span class="member-group__text">3 MEMBERS</span>
							      </div>
						</div>
						<div class="pull-right">
							03/12/17 at 12:17
						</div>
					</div>
				</div>
			</div>
		</div>






		<div class="col-sm-4">
			<div class="card mb+">
				<div class="card__img">
					<div class="card__img__hover df jc-c at-c">
							<% link_to "definition.html" , class:"btn btn-outline btn-lg color-white" do%>Continue <i class="ionicons ion-chevron-right"></i><% end %>
					</div>
					<%= image_tag "sun-full-small.png", width:"100%" %>
					<span class="card__img__text color-green">
					 <i class="ionicons ion-checkmark-circled pull-right"></i>
				</div>
				<div class="card__footer p">
					<div class="clearfix mb-">
						<p class="pull-left color-grey text-bold font-16">Project 42</p>
						<p class="pull-right color-green text-bold  font-16">Done</p>
					</div>
					<div class="clearfix">
						<div class="pull-left">
							<div class="member-group">
							        <span class="member-group__avatar">
							          <%= image_tag "images/face-1.jpg", class:"", width:"25" %></span>
							        <span class="member-group__avatar"><%= image_tag "images/face-2.jpg", class:"", width:"25" %></span>
							        <span class="member-group__avatar"><%= image_tag "images/face-3.jpg", class:"", width:"25" %></span>
							        <span class="member-group__text">3 MEMBERS</span>
							      </div>
						</div>
						<div class="pull-right">
							03/12/17 at 12:17
						</div>
					</div>
				</div>
			</div>
		</div>




		<div class="col-sm-4">
			<div class="card mb+">
				<div class="card__img">
					<div class="card__img__hover df jc-c at-c">
							<% link_to "definition.html" , class:"btn btn-outline btn-lg color-white" do%>Continue <i class="ionicons ion-chevron-right"></i><% end %>
					</div>
					<%= image_tag "sun-empty-small.png", width:"100%" %>
					<span class="card__img__text color-blue">
					 Modifying by Denis (only)
					 <i class="ionicons ion-android-lock pull-right"></i></span>
				</div>
				<div class="card__footer p">
					<div class="clearfix mb-">
						<p class="pull-left color-grey text-bold font-16">Project 42</p>
						<p class="pull-right color-blue text-bold  font-16">In progress</p>
					</div>
					<div class="clearfix">
						<div class="pull-left">
							<div class="member-group">
							        <span class="member-group__avatar">
							          <%= image_tag "images/face-1.jpg", class:"", width:"25" %></span>
							        <span class="member-group__avatar"><%= image_tag "images/face-2.jpg", class:"", width:"25" %></span>
							        <span class="member-group__avatar"><%= image_tag "images/face-3.jpg", class:"", width:"25" %></span>
							        <span class="member-group__text">3 MEMBERS</span>
							      </div>
						</div>
						<div class="pull-right">
							03/12/17 at 12:17
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>